# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go module files
go.sum

dist

resources/*.exe
assets/resources.7z
resources/resources/grafana/data/*
!resources/resources/grafana/data/grafana.db
resources/resources/grafana/docs
resources/resources/grafana/packaging
resources/resources/grafana/Dockerfile
resources/resources/grafana/LICENSE
resources/resources/grafana/README.md
resources/resources/grafana/NOTICE.md